<h1 align="center">COVID-19 Visualisation</h1>

<h3>Importing Necessary Libraries</h3>

In [1]:
import numpy as np
import pandas as pd
import re

<h3>Scraping Necessary Data</h3>

In [2]:
df=pd.DataFrame({"State":['Andaman and Nicobar Islands', 'Lakshadweep', 'Chandigarh', 'Delhi', 
                          'Dadra and Nagar Haveli and Daman and Diu', 'Puducherry', 'Telangana'], 
                 "Latitude":['11.62°N', '10.56°N', '30.73°N', '28.70°N', '20.18°N', '11.94°N', '18.11°N'], 
                 "Longitude":['92.73°E', '72.64°E', '76.78°E', '77.10°E', '73.02°E', '79.81°N', '79.02°E']})
data1=pd.read_html('http://www.quickgs.com/latitudinal-and-longitudinal-extents-of-india-indian-states-and-cities/')
lat_long=pd.DataFrame(data1[0])
lat_long=lat_long.append(df, ignore_index=True)
lat_long

                                       State  Latitude Longitude
0                             Andhra Pradesh   15.91°N   79.74°E
1                          Arunachal Pradesh   28.21°N   94.72°E
2                                      Assam   26.20°N   92.93°E
3                                      Bihar   25.09°N   85.31°E
4                               Chhattisgarh   21.27°N   81.86°E
5                                        Goa   15.29°N   74.12°E
6                                    Gujarat   22.25°N   71.19°E
7                                    Haryana   29.05°N   76.08°E
8                           Himachal Pradesh   31.10°N   77.17°E
9                            Jammu & Kashmir  33.77 °N   76.57°E
10                                 Jharkhand   23.61°N   85.27°E
11                                 Karnataka   15.31°N   75.71°E
12                                    Kerala   10.85°N   76.27°E
13                            Madhya Pradesh   22.97°N   78.65°E
14                               Maharashtra   19.75°N   75.71°E
15                                   Manipur   24.66°N   93.90°E
16                                 Meghalaya   25.46°N   91.36°E
17                                   Mizoram   23.16°N   92.93°E
18                                  Nagaland   26.15°N   94.56°E
19                                    Odisha   20.95°N   85.09°E
20                                    Punjab   31.14°N   75.34°E
21                                 Rajasthan   27.02°N   74.21°E
22                                    Sikkim   27.53°N   88.51°E
23                                Tamil Nadu   11.12°N   78.65°E
24                                   Tripura   23.94°N   91.98°E
25                               Uttarakhand   30.06°N   79.01°E
26                             Uttar Pradesh   26.84°N   80.94°E
27                               West Bengal   22.98°N   87.85°E
28               Andaman and Nicobar Islands   11.62°N   92.73°E
29                               Lakshadweep   10.56°N   72.64°E
30                                Chandigarh   30.73°N   76.78°E
31                                     Delhi   28.70°N   77.10°E
32  Dadra and Nagar Haveli and Daman and Diu   20.18°N   73.02°E
33                                Puducherry   11.94°N   79.81°N
34                                 Telangana   18.11°N   79.02°E

In [3]:
data2=pd.read_html('https://en.wikipedia.org/wiki/COVID-19_pandemic_in_India#covid19-container', 
                   match="State/Union Territory")
covid=pd.DataFrame(data2[0])
covid

   [show all]viewtalkeditCOVID-19 pandemic in India by state and union territory  \
                                                           State/Union Territory
                                                                         35 / 36
0                         Andaman and Nicobar Islands
1                                      Andhra Pradesh
2                                   Arunachal Pradesh
3                                               Assam
4                                               Bihar
5                                          Chandigarh
6                                        Chhattisgarh
7            Dadra and Nagar Haveli and Daman and Diu
8                                               Delhi
9                                                 Goa
10                                            Gujarat
11                                            Haryana
12                                   Himachal Pradesh
13                                  Jammu and Kashmir
14                                          Jharkhand
15                                          Karnataka
16                                             Kerala
17                                             Ladakh
18                                        Lakshadweep
19                                     Madhya Pradesh
20                                        Maharashtra
21                                            Manipur
22                                          Meghalaya
23                                            Mizoram
24                                           Nagaland
25                                             Odisha
26                                         Puducherry
27                                             Punjab
28                                          Rajasthan
29                                             Sikkim
30                                         Tamil Nadu
31                                          Telangana
32                                            Tripura
33                                        Uttarakhand
34                                      Uttar Pradesh
35                                        West Bengal
36                              As of 1 July 2020[36]
37  Notes ^ Inclusive of foreign nationals6915 cas...

                                                       \
                                             Cases[a]
                                              585,493
0                                                  97
1                                               14595
2                                                 191
3                                            8,227[b]
4                                               10043
5                                                 440
6                                                2860
7                                                 213
8                                               87360
9                                                1315
10                                              32557
11                                              14548
12                                                953
13                                               7497
14                                               2490
15                                              15242
16                                               4442
17                                                973
18                                                  0
19                                              13593
20                                             174761
21                                               1234
22                                                 52
23                                                160
24                                                459
25                                               7065
26                                                714
27                                               5568
28                                              18014
29                                                 89
30                                              90167
31                                              16339
32                                               1388
33                                               2881
34                                              23492
35                                              18559
36                              As of 1 July 2020[36]
37  Notes ^ Inclusive of foreign nationals6915 cas...

                                                       \
                                               Deaths
                                               17,400
0                                                   0
1                                                 187
2                                                   1
3                                                  12
4                                                  67
5                                                   6
6                                                  13
7                                                   0
8                                                2742
9                                                   3
10                                               1846
11                                                236
12                                                 10
13                                                101
14                                                 15
15                                                246
16                                              24[c]
17                                                  1
18                                                  0
19                                                572
20                                               7855
21                                                  0
22                                                  1
23                                                  0
24                                                  0
25                                                 25
26                                                 12
27                                                144
28                                                413
29                                                  0
30                                               1201
31                                                260
32                                                  1
33                                                 41
34                                                697
35                                                668
36                              As of 1 July 2020[36]
37  Notes ^ Inclusive of foreign nationals6915 cas...

                                                       \
                                           Recoveries
                                              347,979
0                                                  50
1                                                6511
2                                                  62
3                                                5647
4                                                7687
5                                                 364
6                                                2250
7                                                  82
8                                               58348
9                                                 596
10                                              23662
11                                               9972
12                                                580
13                                               4722
14                                               1884
15                                               7918
16                                               2306
17                                                648
18                                                  0
19                                              10395
20                                              90911
21                                                553
22                                                 42
23                                                122
24                                                168
25                                               5189
26                                                272
27                                               3867
28                                              14220
29                                                 52
30                                              50074
31                                               7294
32                                               1086
33                                               2231
34                                              16084
35                                              12130
36                              As of 1 July 2020[36]
37  Notes ^ Inclusive of foreign nationals6915 cas...

                                                                          \
                                               Active Unnamed: 5_level_1
                                              220,114 Unnamed: 5_level_2
0                                                  47                NaN
1                                                7897                NaN
2                                                 128                NaN
3                                                2568                NaN
4                                                2289                NaN
5                                                  70                NaN
6                                                 597                NaN
7                                                 131                NaN
8                                               26270                NaN
9                                                 716                NaN
10                                               7049                NaN
11                                               4340                NaN
12                                                363                NaN
13                                               2674                NaN
14                                                591                NaN
15                                               7078                NaN
16                                               2112                NaN
17                                                324                NaN
18                                                  0                NaN
19                                               2626                NaN
20                                              75995                NaN
21                                                681                NaN
22                                                  9                NaN
23                                                 38                NaN
24                                                291                NaN
25                                               1851                NaN
26                                                430                NaN
27                                               1557                NaN
28                                               3381                NaN
29                                                 37                NaN
30                                              38892                NaN
31                                               8785                NaN
32                                                301                NaN
33                                                609                NaN
34                                               6711                NaN
35                                               5761                NaN
36                              As of 1 July 2020[36]                NaN
37  Notes ^ Inclusive of foreign nationals6915 cas...                NaN


   Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1
   Unnamed: 6_level_2 Unnamed: 7_level_2 Unnamed: 8_level_2
0                 NaN                NaN                NaN
1                 NaN                NaN                NaN
2                 NaN                NaN                NaN
3                 NaN                NaN                NaN
4                 NaN                NaN                NaN
5                 NaN                NaN                NaN
6                 NaN                NaN                NaN
7                 NaN                NaN                NaN
8                 NaN                NaN                NaN
9                 NaN                NaN                NaN
10                NaN                NaN                NaN
11                NaN                NaN                NaN
12                NaN                NaN                NaN
13                NaN                NaN                NaN
14                NaN                NaN                NaN
15                NaN                NaN                NaN
16                NaN                NaN                NaN
17                NaN                NaN                NaN
18                NaN                NaN                NaN
19                NaN                NaN                NaN
20                NaN                NaN                NaN
21                NaN                NaN                NaN
22                NaN                NaN                NaN
23                NaN                NaN                NaN
24                NaN                NaN                NaN
25                NaN                NaN                NaN
26                NaN                NaN                NaN
27                NaN                NaN                NaN
28                NaN                NaN                NaN
29                NaN                NaN                NaN
30                NaN                NaN                NaN
31                NaN                NaN                NaN
32                NaN                NaN                NaN
33                NaN                NaN                NaN
34                NaN                NaN                NaN
35                NaN                NaN                NaN
36                NaN                NaN                NaN
37                NaN                NaN                NaN

<h3>Data Cleaning</h3>

In [4]:
lat_long['State'][9]='Ladakh'
lat_long['Latitude'][9]='34.21°N'
lat_long['Longitude'][9]='77.62°E'
lat_long=lat_long.append({'State':"Jammu and Kashmir",
                         'Latitude':'34.08°N',
                         'Longitude':'74.80°E'}, ignore_index=True)
lat_long

                                       State Latitude Longitude
0                             Andhra Pradesh  15.91°N   79.74°E
1                          Arunachal Pradesh  28.21°N   94.72°E
2                                      Assam  26.20°N   92.93°E
3                                      Bihar  25.09°N   85.31°E
4                               Chhattisgarh  21.27°N   81.86°E
5                                        Goa  15.29°N   74.12°E
6                                    Gujarat  22.25°N   71.19°E
7                                    Haryana  29.05°N   76.08°E
8                           Himachal Pradesh  31.10°N   77.17°E
9                                     Ladakh  34.21°N   77.62°E
10                                 Jharkhand  23.61°N   85.27°E
11                                 Karnataka  15.31°N   75.71°E
12                                    Kerala  10.85°N   76.27°E
13                            Madhya Pradesh  22.97°N   78.65°E
14                               Maharashtra  19.75°N   75.71°E
15                                   Manipur  24.66°N   93.90°E
16                                 Meghalaya  25.46°N   91.36°E
17                                   Mizoram  23.16°N   92.93°E
18                                  Nagaland  26.15°N   94.56°E
19                                    Odisha  20.95°N   85.09°E
20                                    Punjab  31.14°N   75.34°E
21                                 Rajasthan  27.02°N   74.21°E
22                                    Sikkim  27.53°N   88.51°E
23                                Tamil Nadu  11.12°N   78.65°E
24                                   Tripura  23.94°N   91.98°E
25                               Uttarakhand  30.06°N   79.01°E
26                             Uttar Pradesh  26.84°N   80.94°E
27                               West Bengal  22.98°N   87.85°E
28               Andaman and Nicobar Islands  11.62°N   92.73°E
29                               Lakshadweep  10.56°N   72.64°E
30                                Chandigarh  30.73°N   76.78°E
31                                     Delhi  28.70°N   77.10°E
32  Dadra and Nagar Haveli and Daman and Diu  20.18°N   73.02°E
33                                Puducherry  11.94°N   79.81°N
34                                 Telangana  18.11°N   79.02°E
35                         Jammu and Kashmir  34.08°N   74.80°E

In [5]:
def data_pre(cord):
    return cord[0:5]
lat_long['Latitude']  = lat_long['Latitude'].apply(data_pre).astype('float')
lat_long['Longitude'] = lat_long['Longitude'].apply(data_pre).astype('float')
lat_long

                                       State  Latitude  Longitude
0                             Andhra Pradesh     15.91      79.74
1                          Arunachal Pradesh     28.21      94.72
2                                      Assam     26.20      92.93
3                                      Bihar     25.09      85.31
4                               Chhattisgarh     21.27      81.86
5                                        Goa     15.29      74.12
6                                    Gujarat     22.25      71.19
7                                    Haryana     29.05      76.08
8                           Himachal Pradesh     31.10      77.17
9                                     Ladakh     34.21      77.62
10                                 Jharkhand     23.61      85.27
11                                 Karnataka     15.31      75.71
12                                    Kerala     10.85      76.27
13                            Madhya Pradesh     22.97      78.65
14                               Maharashtra     19.75      75.71
15                                   Manipur     24.66      93.90
16                                 Meghalaya     25.46      91.36
17                                   Mizoram     23.16      92.93
18                                  Nagaland     26.15      94.56
19                                    Odisha     20.95      85.09
20                                    Punjab     31.14      75.34
21                                 Rajasthan     27.02      74.21
22                                    Sikkim     27.53      88.51
23                                Tamil Nadu     11.12      78.65
24                                   Tripura     23.94      91.98
25                               Uttarakhand     30.06      79.01
26                             Uttar Pradesh     26.84      80.94
27                               West Bengal     22.98      87.85
28               Andaman and Nicobar Islands     11.62      92.73
29                               Lakshadweep     10.56      72.64
30                                Chandigarh     30.73      76.78
31                                     Delhi     28.70      77.10
32  Dadra and Nagar Haveli and Daman and Diu     20.18      73.02
33                                Puducherry     11.94      79.81
34                                 Telangana     18.11      79.02
35                         Jammu and Kashmir     34.08      74.80

In [6]:
covid.columns = ['State', 'Total Cases', 'Deaths', 'Recoveries', 'Active Cases', '1', '2', '3', '4']
covid.drop(columns=['1', '2', '3', '4'], inplace=True)
covid=covid.iloc[:-2, :]
covid

,State,Total Cases,Deaths,Recoveries,Active Cases
0,Andaman and Nicobar Islands,97,0,50,47
1,Andhra Pradesh,14595,187,6511,7897
2,Arunachal Pradesh,191,1,62,128
3,Assam,"8,227[b]",12,5647,2568
4,Bihar,10043,67,7687,2289
5,Chandigarh,440,6,364,70
6,Chhattisgarh,2860,13,2250,597
7,Dadra and Nagar Haveli and Daman and Diu,213,0,82,131
8,Delhi,87360,2742,58348,26270
9,Goa,1315,3,596,716
10,Gujarat,32557,1846,23662,7049
11,Haryana,14548,236,9972,4340
12,Himachal Pradesh,953,10,580,363
13,Jammu and Kashmir,7497,101,4722,2674
14,Jharkhand,2490,15,1884,591
15,Karnataka,15242,246,7918,7078
16,Kerala,4442,24[c],2306,2112
17,Ladakh,973,1,648,324
18,Lakshadweep,0,0,0,0
19,Madhya Pradesh,13593,572,10395,2626
20,Maharashtra,174761,7855,90911,75995
21,Manipur,1234,0,553,681
22,Meghalaya,52,1,42,9
23,Mizoram,160,0,122,38
24,Nagaland,459,0,168,291
25,Odisha,7065,25,5189,1851
26,Puducherry,714,12,272,430
27,Punjab,5568,144,3867,1557
28,Rajasthan,18014,413,14220,3381
29,Sikkim,89,0,52,37
30,Tamil Nadu,90167,1201,50074,38892
31,Telangana,16339,260,7294,8785
32,Tripura,1388,1,1086,301
33,Uttarakhand,2881,41,2231,609
34,Uttar Pradesh,23492,697,16084,6711
35,West Bengal,18559,668,12130,5761

In [7]:
covid['Recoveries'].astype('int')
covid['Active Cases'].astype('int')
count=0
for i in covid['Total Cases']:
    if not i.isdigit():
        i=re.sub("[^0-9]", "", i)
        covid['Total Cases'][count]=i
    count=count+1
covid['Total Cases'].astype('int')
count=0
for i in covid['Deaths']:
    if not i.isdigit():
        i=re.sub("[^0-9]", "", i)
        covid['Deaths'][count]=i
    count=count+1
covid['Deaths'].astype('int')
covid

C:\Users\Joydip\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

,State,Total Cases,Deaths,Recoveries,Active Cases
0,Andaman and Nicobar Islands,97,0,50,47
1,Andhra Pradesh,14595,187,6511,7897
2,Arunachal Pradesh,191,1,62,128
3,Assam,8227,12,5647,2568
4,Bihar,10043,67,7687,2289
5,Chandigarh,440,6,364,70
6,Chhattisgarh,2860,13,2250,597
7,Dadra and Nagar Haveli and Daman and Diu,213,0,82,131
8,Delhi,87360,2742,58348,26270
9,Goa,1315,3,596,716
10,Gujarat,32557,1846,23662,7049
11,Haryana,14548,236,9972,4340
12,Himachal Pradesh,953,10,580,363
13,Jammu and Kashmir,7497,101,4722,2674
14,Jharkhand,2490,15,1884,591
15,Karnataka,15242,246,7918,7078
16,Kerala,4442,24,2306,2112
17,Ladakh,973,1,648,324
18,Lakshadweep,0,0,0,0
19,Madhya Pradesh,13593,572,10395,2626
20,Maharashtra,174761,7855,90911,75995
21,Manipur,1234,0,553,681
22,Meghalaya,52,1,42,9
23,Mizoram,160,0,122,38
24,Nagaland,459,0,168,291
25,Odisha,7065,25,5189,1851
26,Puducherry,714,12,272,430
27,Punjab,5568,144,3867,1557
28,Rajasthan,18014,413,14220,3381
29,Sikkim,89,0,52,37
30,Tamil Nadu,90167,1201,50074,38892
31,Telangana,16339,260,7294,8785
32,Tripura,1388,1,1086,301
33,Uttarakhand,2881,41,2231,609
34,Uttar Pradesh,23492,697,16084,6711
35,West Bengal,18559,668,12130,5761

In [8]:
data=pd.merge(lat_long, covid, how='inner', on='State')
data.to_csv(r'covid-data.csv', index=False, header=True)
data

,State,Latitude,Longitude,Total Cases,Deaths,Recoveries,Active Cases
0,Andhra Pradesh,15.91,79.74,14595,187,6511,7897
1,Arunachal Pradesh,28.21,94.72,191,1,62,128
2,Assam,26.20,92.93,8227,12,5647,2568
3,Bihar,25.09,85.31,10043,67,7687,2289
4,Chhattisgarh,21.27,81.86,2860,13,2250,597
5,Goa,15.29,74.12,1315,3,596,716
6,Gujarat,22.25,71.19,32557,1846,23662,7049
7,Haryana,29.05,76.08,14548,236,9972,4340
8,Himachal Pradesh,31.10,77.17,953,10,580,363
9,Ladakh,34.21,77.62,973,1,648,324
10,Jharkhand,23.61,85.27,2490,15,1884,591
11,Karnataka,15.31,75.71,15242,246,7918,7078
12,Kerala,10.85,76.27,4442,24,2306,2112
13,Madhya Pradesh,22.97,78.65,13593,572,10395,2626
14,Maharashtra,19.75,75.71,174761,7855,90911,75995
15,Manipur,24.66,93.90,1234,0,553,681
16,Meghalaya,25.46,91.36,52,1,42,9
17,Mizoram,23.16,92.93,160,0,122,38
18,Nagaland,26.15,94.56,459,0,168,291
19,Odisha,20.95,85.09,7065,25,5189,1851
20,Punjab,31.14,75.34,5568,144,3867,1557
21,Rajasthan,27.02,74.21,18014,413,14220,3381
22,Sikkim,27.53,88.51,89,0,52,37
23,Tamil Nadu,11.12,78.65,90167,1201,50074,38892
24,Tripura,23.94,91.98,1388,1,1086,301
25,Uttarakhand,30.06,79.01,2881,41,2231,609
26,Uttar Pradesh,26.84,80.94,23492,697,16084,6711
27,West Bengal,22.98,87.85,18559,668,12130,5761
28,Andaman and Nicobar Islands,11.62,92.73,97,0,50,47
29,Lakshadweep,10.56,72.64,0,0,0,0
30,Chandigarh,30.73,76.78,440,6,364,70
31,Delhi,28.70,77.10,87360,2742,58348,26270
32,Dadra and Nagar Haveli and Daman and Diu,20.18,73.02,213,0,82,131
33,Puducherry,11.94,79.81,714,12,272,430
34,Telangana,18.11,79.02,16339,260,7294,8785
35,Jammu and Kashmir,34.08,74.80,7497,101,4722,2674